/* Body reset*/
body {
  margin: 0;
  background-color: rgb(208, 255, 239);
  /*
  background-image: url("https://cdn.pixabay.com/photo/2017/02/14/09/02/wood-2065366_960_720.jpg");
  background-size: cover; */
}

.main-game {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genius {
  display: grid;
  grid-template-areas: 'grun rot' 
  'gelb blau';
  grid-gap: 10px;

  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 100%;

  width: 600px;
  height: 600px;
}

.blau {
  grid-area: blau;
  background-color: #4646ee;
  border-bottom-right-radius: 100%;
}

.rot {
  grid-area: rot;
  background-color: #f14848;
  border-top-right-radius: 100%;
}

.gelb {
  grid-area: gelb;
  background-color: #f1f150;
  border-bottom-left-radius: 100%;
}

.grun {
  grid-area: grun;
  background-color: #5dee5d;
  border-top-left-radius: 100%;
}

.selected {
  opacity: 0.8;
}

@media(max-width: 800px) {
  
  .genius {
    grid-gap: 5px;
    width: 350px;
    height: 350px;
    border: 5px solid white;
  }
}